extends layout

block content
  h1= title

  if superheroes
    h3 Superheroes
    each superhero in superheroes
      div #{superhero.name} - #{superhero.description}

  if cards
    h3 Cards
    each card in cards
      div #{card.name} - #{card.description}

  form(action='/load-superheroes', method='post')
    p
      input(type='submit', value='Load Superheroes')

  form(action='/load-cards', method='post')
    p
      input(type='submit', value='Load Cards')
